<h1><%= link_to "Wisdoms", "wisdoms" %></h1>
<h2>Log and share your wisdoms with the world</h2>

<%= link_to "New Wisdom", new_wisdom_path %>
<section>
  <% @wisdoms.each do |wisdom| %>
  <div class='wisdom'>
    <blockquote class='quote'>"<%= wisdom.quote %>"</blockquote>
    <emph class='author'>-<%= wisdom.author %></emph>
    <time class='timestamp'><%= link_to wisdom.created_at, wisdom %></emph>
  </div>
  <% end %>
</section>
